<h1>Coupon Form</h1>
<%= form_for @coupon do |f| %>
  <%= f.label "Coupon Code" %><br>
  <%= f.text_field :coupon_code %><br>

  <%= f.label "Coupon Store" %><br>
  <%= f.text_field :store %><br>

  <%= f.submit "Submit Coupon"%>
<% end %>


<%= link_to 'Back to all coupons', coupons_path %>
